.python-arcade{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 0px;

}
.site {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.siteName {
    margin: 25 0 25 0;
    color: goldenrod;
}

.siteImage {
    width: 500px;
}

.desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 15px goldenrod;
    margin-top: 15px;
    width: 50%;
}


p {
    font-size: 25px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    list-style-type: none;
}

li {
    margin-left: -95px ;
    font-size: 28px;
}
.player-wrapper {
   height: 300px;
   width: 500px;
}


@media(max-width: 768px) {

    .siteImage {
        width: 150px;
    }

    .player-wrapper {
        height: 150px;
        width: 150px;
    }

    p {
        font-size: 12px;
    }

    li {
        display: flex;
        justify-content: center;
        margin-right: -10px ;
        font-size:12px;
    }
    .react-player {
        width: 50%;
        height: 50%;
    }
}
