.python-arcade{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.site {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.siteName {
    margin: 25 0 25 0;
    color: goldenrod;
}

.siteImage {
    width: 500px;
}

.desc {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 15px goldenrod;
    margin-top: 15px;
    border-radius: 15px;
    width: 50%;
}


p {
    font-size: 25px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    list-style-type: none;
}

li {
    font-size: 28px;
}

@media(max-width: 768px) {
    .siteImage {
        width: 150px;
    }

    p {
        font-size: 12px;
    }

    li {
        display: flex;
        justify-content: center;
        margin-right: 60px ;
        font-size:12px;
    }
}
