.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.fieldset{
    border: 1px solid black;
    height: 250px;
    width: 390px;
    border-radius: 5px;
    box-shadow: 5px 1px 15px #798389;
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}

input{
    margin-bottom: 5px;
}
input, textarea{
    width: 310px;
}
textarea{
    max-height: 139px;
    min-height: 139px;
}

legend{
    background-color: #282c34;
    color: white;
    border-radius: 5px;
    width: 300px;
    margin-top: -18px;
}


#envelope, #pencil{
    display: flex;
}


#envelope > h3, #pencil > h3{
    margin-top: 6px;
    margin-right: 5px;
}

button:hover{
    border: 1px solid #282c34;
    box-shadow: 0px 1px 10px #798389;
}
.fa-envelope-square,.fa-pen-square{
  color: goldenrod
}

@media only screen and (max-width: 800px) {
    .fieldset{
        height: 175px;
        width: 195px;
        margin-top: 9px;
    }
    
    input{
        margin-bottom: 2px;
    }
    input, textarea{
        width: 155px;
    }
    textarea{
        max-height: 65px;
        min-height: 65px;
    }
    
    legend{
        background-color: #282c34;
        color: white;
        border-radius: 5px;
        width: 150px;
        margin-top: -18px;
    }
  }