.hero-image{
    position: relative;
}

.hero-text-top {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: goldenrod
}
.hero-text-bottom {
    /* text-align: center; */
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#23293ab3;
    color: rgb(244, 217, 153);
    width: fit-content;
}

.hero-text-mid {
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#23293ab3;
    color: rgb(244, 217, 153)
}
img{
    max-width: 99vw;
}

.prof > img{
    border-radius: 25% ;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
a{
    color: rgb(244, 167, 63);
}
@media only screen and (max-width: 800px) {
    h1,h2,h3,h4,h5,h6{
        font-size: 10px;
    }
    .hero-text-bottom {
        display: none;
    }

  }